.centrado{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hola{
    border: 10px;
    margin: 20px;
    border-radius: round($number: 20);
}