<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<!-- crear pagina se hace con el comando -- > ionic g page home --> 
<ion-content [fullscreen]="true">
  <!-- Interpolacion de datos -->
  <h1>Hola {{nombre}} Bienvenido</h1>
  <div class="centrado">    
    <app-info-usuario class="hola"></app-info-usuario>
  </div>
  <!-- Property binding, se debe poner entre corchetes para que se convierta en dinamico y entre comillas la variable -->
  
</ion-content>
